.article p{
	margin:0 0 1em;
	line-height:1.5;
}
.article p img{
	max-width:100%;
}
.article p:first-child{
	text-align:center;	
}
.article p:last-child{
	text-align:center;	
}
.article a.ui-btn{
	margin-right:2em;
	-webkit-border-radius: .4em;
	border-radius: .4em;	
}
.contact{
	padding-left: 20em;	
}
.photo_container{
	max-height:100%
	max-width:100%
	height:auto;
	width:100%;
}
.count{
	font-size:12px;
	display:block;
	padding:3px;
	font-weight:bold;
	border:1px solid #999;
	color:#fff;
	text-shadow:#999 0.5px 0.5px 0;
	border-radius:0.4em;
	-moz-border-radius:0.4em;
	position:absolute;
	right:24px;
	top:0;
	bottom:0;
	margin:auto;
	height:14px
}
.rounded { 
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px; 
}
.map{
	margin-left:0;
	margin-right:0;
	max-height:60%;
	max-width:100%;
	width:100%;
	height:250px;
}

body{
	background-color: #A80D37;
	text-align: center;
	border: 2px solid white;
	padding: 2%;
}
#header{
	margin: auto;
	width:90%;
}
.bannerimage{
	width: 90%;
}
.image{
	width: 30%;
}
input[type="text"], textarea {

  background-color : ffde63; 
  padding: 2%;

}
.menubut{
	width:40%;
}
.search{
	width: 80%;
	color:#FFF;
	background-color:#FFF;
	margin: 2%;
}
#button{
	height:  30px;
	border-radius: 10px;
	border: 5px;
	width: 86%;
	font-size: 1em;
	color: blue;
	border-color: blue;
}
	